ion-menu-button {
  color: var(--ion-color-primary);
}

strong {
  font-size: 20px;
  line-height: 26px;
}

p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#form{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title{
  margin-top: 5%;
}

.save{
  margin-top: 3%;
}

.addBtn{
  --border-radius: 90px;
}