<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title size="large">Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="action()" expand="block"> 
    Action
  </ion-button>

  <div id="cameraPreview" class="cameraPreview"></div>
    <ng-container *ngIf="cameraActive">
      <ion-button (click)="stopCamera()" expand="block" id="close"> 
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>

      <ng-container *ngIf="runTakePhotos">
        <ion-button (click)="captureImage()" expand="block" id="capture"> 
          <ion-icon name="camera" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>

      <ng-container *ngIf="!runTakePhotos">
        <ion-button (click)="stopInterval()" expand="block" id="stop" color="danger"> 
          <ion-icon name="stop" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>

      <ion-button (click)="flipCamera()" expand="block" id="flip"> 
        <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
      </ion-button>
    </ng-container>
  
  <ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>
  <ion-button (click)="openCamera()" expand="full" *ngIf="!cameraActive">Open Camera</ion-button>

  <!--<ion-grid>
    <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
